* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #677db7;
    --secondary-color: #033e21;
    --accent1-color: #E56B4F;
    --accent2-color: #76A9A7;
    --accent3-color: #B3B3B3;
}


h1, h2 {
    color: var(--secondary-color)
}

a img {
    text-decoration: none;
}

main {
    max-width: 840px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    background-color: rgba(95, 87, 87, 0.441); /* Same background */
    padding: 10px 100px; 
    position: absolute;
    bottom: 450px;
    left: 100px;
    display: block;
}

.hero article img {
    position: absolute; 
    bottom: 10px;
    right: 30px; 
    height: 110px;
    width: 100px;
    background-color: rgba(179, 179, 179, 0.6); 
    padding: 5px;
    float: right; 
}

.hero article  p {
    position: absolute; 
    bottom: 10px; 
    left: 20px; 
    width: calc(100% - 150px); 
    background-color: rgba(179, 179, 179, 0.6); 
    padding: 10px;
    color: black;
}
 .hero article {
    text-align: center;
 }


