* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E3A8A;
    --secondary-color: #033e21;
    --accent1-color: #E56B4F;
    --accent2-color: #76A9A7;
    --accent3-color: #B3B3B3;
}


h1, h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}

a img {
    text-decoration: none;
}



.hero {
    position: relative;
    overflow-y: hidden;
    margin: 10px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}

.hero h1 {
    font-size: 2.5rem;
    margin: 0.5em 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #b3b3b3ce;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.hero article img {
    height: 110px;
    width: 100px;
    float: right; 
}


.hero article {
    position: absolute; 
    bottom: 5rem; 
    background-color: #b3b3b3ce; 
    padding: 10px;
    color: #000;
    margin: 0 1rem; 
}

.hero article p {
    padding-top: 20px; 
    font-size: 1.1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

header img {
    width: 150px;
    height: auto;
    border-radius: 10%;
}

nav a:hover {
    color: var(--accent1-color);
} 

nav a {
    font-size: larger;
    text-decoration: none;
    color:#F8F9FA;
}

.history {
    margin: 20px;
    width: 95%;
    line-height: 1.6;
    color: #000;
    text-align: center;
    background-color: var(--accent3-color);
}

.history h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.history p {
    margin-bottom: 15px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

.adventure figure img {
    width: 100%;  
    height: 200px;  
    object-fit: cover; 
    padding-top: 0;
}

section h2 {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #f5f5dcd7;
    box-sizing: border-box;
}


.icons a {
    margin: 0 10px;
    height: 50%
}

.icons a img{
    width: 30px;
    height: 30px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.contact {
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
}

.contact h2 {
    padding-bottom: 10px;
    font-size: 2rem;
}

.contact p {
    font-size: 1.5rem;
    padding: 1rem;
}

iframe {
	width: 100%;
    padding: .5rem;
    border: none;
}

.employees_profiles { 
    padding: 1rem;
    width: 100%;
}

.employees {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.employees_profiles h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.employees img {
    border-radius: 50%;
}

.employees p {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    width: 200px;
}

.contact_container {
    background-color: var(--accent3-color);
    margin: 0.5em;
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.form {
    background-color: var(--accent2-color);
    margin: .5rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.field {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: none;
    padding: 20px;
}

legend {
    font-size: 1.5rem;
    text-align: center;
    color: #2B2B2B;
}

.form h2 {
    text-align: center;
    padding: 20px;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

label {
    text-align: center;
    font-size: 1.2rem;
}

button {
    padding: 20px;
    border-radius: 20px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

button:hover {
    background-color: #033e21;
    color: whitesmoke;
    cursor: pointer;
}

footer p a {
    text-decoration: none;
    color: #f5f5dcd7;
}

footer p a:hover {
    color: var(--accent1-color)
}



