* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #677db7;
    --secondary-color: #033e21;
    --accent1-color: #E56B4F;
    --accent2-color: #76A9A7;
    --accent3-color: #B3B3B3;
}


h1, h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}

a img {
    text-decoration: none;
}

main {
    max-width: 840px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px;
}

.hero h1 {
    position: absolute;
    background-color: #b3b3b3ce; 
    padding: 10px 100px; 
    bottom: 80%;
    left: 5%;
    margin: 0;
}

.hero article img {
    height: 110px;
    width: 100px;
    float: right; 
}

.hero article {
    position: absolute; 
    bottom: 10px; 
    left: 20px; 
    width: 90%; 
    background-color: #b3b3b3ce; 
    padding: 10px;
    color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
    background: var(--primary-color)
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

header img {
    width: 150px;
    height: auto;
}

nav a:hover {
    color: var(--accent3-color);
}

nav a {
    text-decoration: none;
    color:beige;
}

.history {
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
    color: #000;
}

.history h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.history p {
    margin-bottom: 15px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.adventure figure img {
    width: 100%;  
    height: 200px;  
    object-fit: cover; 
    padding-top: 0;
}

section h2 {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: rgba(245, 245, 220, 0.845);
    box-sizing: border-box;
}


.icons a {
    margin: 0 10px;
    height: 50%
}

.icons a img{
    width: 30px;
    height: 30px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}
