:root {
    --heading-color: rgb(60, 0, 255);
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    font-family: var(--font-family);
}

h1 {
    color: var(--heading-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(110, 131, 180);
    float: right;
}

p {
    padding: 0;
}

main{
    max-width: 840px;
}

aside{
    width: 20em;
    text-align:center;
    position: relative;
}


aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

 aside h2 {
    position:absolute;
    right:120px;
    top:20px;
    font-size: 27px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(52, 35, 35);
    background-color: rgba(163, 156, 178, 0.934);
    color: rgb(28, 26, 31)'
}



